.background-login {
    background-image: url("../../assets/images/background-2203989_960_720.jpg");
    /* Full height */
    height: auto;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

body,
html {
    height: 100%;
    margin: 0;
    overflow: auto;
}

.form {
    margin: 50% auto;
    width: 100%;
}
